<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
        />
        <link rel="stylesheet" href="/static/styles.css" />
        <title>Document</title>
    </head>

    <body>
        <nav class="container">
            <ul>
                <li>
                    <a href="/"
                        ><img
                            src="/static/demologo.png"
                            alt="The demo logo"
                            height="50px"
                    /></a>
                </li>
                <li>CV Manager</li>
            </ul>
            <ul>
                <li>
                    <a href="#">My Profile</a>
                </li>
            </ul>
        </nav>
        {% with messages = get_flashed_messages() %} {% if messages %}
        <article class="flash">
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </article>
        {% endif %} {% endwith %}
        <main class="container">{% block content %}{% endblock %}</main>
    </body>
</html>
